

body{
    font-family: 'Raleway', sans-serif;
    /*Change this later. It's not very 
    readable for a long time in body text.*/
    /*Also I think I may change the color scheme
    Iteration is the name of the game*/
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
}

a:hover{
    color:#ef1201;
}

/*Header stuff goes here*/
header{
    background-color: #df190b; 
    margin: 0;
    width: 100vw;
    padding: 4rem;
}
header h1{
    text-align: center;
    margin: 3rem;
    color: #002432;
    margin: 0;
}
header p{
    font-weight: 400;
    text-align: center;
    margin:0;
}

/*Nav stuff goes here*/

nav{
    background-color: #728f93;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin:0;
}
nav a{/*let's make it bold later with the new font*/
    font-size: 1.1rem;
    text-decoration: none;
    color: #002432;
    display: block;
    padding: 1rem;
    margin:0;
}
.active_page_button a{
    background-color: #002432;
    color: #728f93;

}

/*Main stuff goes here*/
main{
    padding: 1rem 2vh;
}
a{
    color: #002432;
}
.main_page_button{
    display: block;
    padding: 1rem 0rem;
}
h2{
    font-weight: 400;
    margin-bottom: 0;
}
p{
    font-weight: 200;
}
main h4{
    margin-bottom: 0rem;
}
.strengths_list {
    list-style-type: circle;
    margin-top: 0.5rem;
}
.weaknesses_list {
    list-style-type: square;
    margin-top: 0.5rem;
}
dd{
    margin-bottom: .8rem;
}

/*home page mountain picture*/
#home_page_pic {
    float: right;
}
#home_page_pic img{
    width: 30vw;
    height: auto;
}
#home_page_pic figcaption{
    padding: .6rem;
    text-align: center;
}


/*gallery stuffs*/
#gallery_main{
    display: flex;
    flex-wrap: wrap;
}
.gallery_figure{
    width: 25vw;
    height: auto;
}
.gallery_figure img{
    border-radius: 5px;
}

.gallery_figure figcaption{
    text-align: center;
}

/*Footer stuff goes here*/
footer{
    clear:both;
    text-align: center;
    line-height: 1.4rem;
    border: solid 1px #728f93;
    background-color:#728f93;
    color: #002432;
    font-weight: 400;
}
footer a{
    color:#002432;
}