

body{
    font-family: 'Raleway', sans-serif;
    /*Change this later. It's not very 
    readable for a long time in body text.*/
    /*Also I think I may change the color scheme
    Iteration is the name of the game*/
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
    --poppy_color: #f83f32;
    --second_highlight: #788b8d;
    --text_color: #002432;

}

a:hover{
    color:var(--poppy_color);
}

/*Header stuff goes here*/
header{
    background-color: var(--poppy_color); 
    margin: 0;
    width: 100vw;
    padding: 4rem;
}
header h1{
    text-align: center;
    margin: 3rem;
    color: var(--text_color);
    margin: 0;
}
header p{
    font-weight: 400;
    text-align: center;
    margin:0;
}

/*Nav stuff goes here*/

nav{
    background-color: var(--second_highlight);
}
nav ul{
    display: flex;
    list-style-type: none;
    margin:0;
}
nav a{/*let's make it bold later with the new font*/
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--text_color);
    display: block;
    padding: 1rem;
    margin:0;
}
.active_page_button a{
    background-color: var(--text_color);
    color: var(--second_highlight);

}

/*Main stuff goes here*/
main{
    padding: 1rem 2vh;
}
a{
    color: var(--text_color);
}
.main_page_button{
    display: block;
    padding: 1rem 0rem;
}
h2{
    font-weight: 400;
    margin-bottom: 0;
}
p{
    font-weight: 200;
}
main h4{
    margin-bottom: 0rem;
}
.strengths_list {
    list-style-type: circle;
    margin-top: 0.5rem;
}
.weaknesses_list {
    list-style-type: square;
    margin-top: 0.5rem;
}
dd{
    margin-bottom: .8rem;
}

/*Footer stuff goes here*/
footer{
    clear:both;
    text-align: center;
    line-height: 1.4rem;
    border: solid 1px var(--second_highlight);
    background-color: var(--second_highlight);
    color: var(--text_color);
    font-weight: 400;
}
footer a{
    color:#002432;
}


/*home page mountain picture*/
#home_page_pic {
    float: right;
}
#home_page_pic img{
    width: 30vw;
    height: auto;
}
#home_page_pic figcaption{
    padding: .6rem;
    text-align: center;
}


/*gallery stuffs*/
#gallery_main{
    display: flex;
    flex-wrap: wrap;
}
.gallery_figure{
    width: 25vw;
    height: auto;
}
.gallery_figure img{
    border-radius: 5px;
}

.gallery_figure figcaption{
    text-align: center;
}

/*request_info page stuff goes here*/

.requestForm :required{
    background-color: #ebd0ce;
    /*Slightly lighter version of pop color*/
}

.requestForm legend{
    color:var(--poppy_color);
}

.requestForm label{
    margin: .5rem;
}

.requestForm select{
    margin: 1rem 0 0 .3rem;
}

.requestForm fieldset{
    color:var(--text_color);
    border-color: var(--second_highlight);
    margin: 2rem 2rem;
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
}

/*This makes my stuff able to display on top of each other*/
.requestForm label, .requestForm [type="text"], .requestForm [type="email"], .requestForm [type="tel"], .requestForm textarea{
    display: block;
}

.requestForm [type="text"], .requestForm [type="email"], .requestForm [type="tel"], .requestForm textarea, .requestForm select{
    border: 1px solid var(--second_highlight);
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.requestForm p{
    margin: .3rem 0 .3rem 0;
}

.requestForm textarea{
    background-color: #cbcecf;
}

.requestForm .comments_box{
    height: 6rem;
}

.requestForm .comments_section{
    color:var(--poppy_color);
    display: block;
    display: flex;
    flex-direction: column;
}

.requestForm [type="submit"]{
    color: var(--text_color);
    background-color: var(--poppy_color);
    border: none;
    padding: 2rem 1.7rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px #435457;
}