*{
    box-sizing: border-box;
}

header, nav, main, footer{
    max-width: 64rem;
    margin: 0 auto; 
}

body{
    font-family: 'Raleway', sans-serif;
    /*Change this later. It's not very 
    readable for a long time in body text.*/
    /*Also I think I may change the color scheme
    Iteration is the name of the game*/
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
    --poppy_color: #f83f32;
    --second_highlight: #889da0;
    --text_color: #002432;

}

a:hover{
    color:var(--poppy_color);
}

/*Header stuff goes here*/
header{
    background-color: var(--poppy_color); 
    width: 100vw;
    padding: 4rem 0 4rem 1rem;
    display: flex;
}

header .header_contents{
    display: flex;
}

header img{
    padding-right: .3rem;
}
header h1{
    color: var(--text_color);
    margin: 0;
    padding: 0;
}
header p{
    font-weight: 400;
    margin:0;
}

/*BIG screen nav here*/
@media only screen and (min-width: 601px){

    nav{
        background-color: var(--second_highlight);
    }
    nav ul{
        display: flex;
        list-style-type: none;
        margin:0;
        padding-left: 1rem;
    }
    nav a{/*let's make it bold later with the new font*/
        font-size: 1.1rem;
        text-decoration: none;
        color: var(--text_color);
        display: block;
        padding: 1rem;
        margin:0;
    }
    .active_page_button a{
        background-color: var(--text_color);
        color: var(--second_highlight);
    
    }
}

/*SMALL screen nav here */
@media only screen and (max-width: 600px){
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav a {
        text-decoration: none;
        display: block; 
        padding: .9rem 0;
        border-bottom: 1px solid var(--second_highlight);
    }
    nav li{
        padding-left: 1rem;
    }
    .active_page_button{
        background-image: linear-gradient(var(--second_highlight), #536364)

    }
}






/*Main stuff goes here*/
main{
    padding: 1rem 2vh;
}
a{
    color: var(--text_color);
}
.main_page_button{
    display: block;
    padding: 1rem 0rem;
}
h2{
    font-weight: 400;
    margin-bottom: 0;
}
p{
    font-weight: 200;
}
main h4{
    margin-bottom: 0rem;
}
.strengths_list {
    list-style-type: circle;
    margin-top: 0.5rem;
}
.weaknesses_list {
    list-style-type: square;
    margin-top: 0.5rem;
}
dd{
    margin-bottom: .8rem;
}

/*Footer stuff goes here*/
footer{
    clear:both;
    text-align: center;
    line-height: 1.4rem;
    border: solid 1px var(--second_highlight);
    background-color: var(--second_highlight);
    color: var(--text_color);
    font-weight: 400;
}
footer a{
    color:#002432;
}

.home_hero{
    width: 100%;
    height: auto;
}


/*home page mountain picture*/
/*This is all not used now that I have a new hero pic
#home_page_pic {
    float: right;
}
#home_page_pic img{
    width: 30vw;
    height: auto;
}
#home_page_pic figcaption{
    padding: .6rem;
    text-align: center;
}
*/

/*gallery stuffs*/
#gallery_title{
    width: 100%;
    height: auto;
}

#gallery_main{
    display: flex;
    flex-wrap: wrap;
}
.gallery_figure{
    width: 25vw;
    height: auto;
    padding: .2rem;
}
.gallery_figure img{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.gallery_figure figcaption{
    text-align: center;
    padding: .2rem;
}

.gallery_figure:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/*request_info page stuff goes here*/

.requestForm :required{
    background-color: #ebd0ce;
    /*Slightly lighter version of pop color*/
}

.requestForm legend{
    color:var(--poppy_color);
}

.requestForm label{
    margin: .5rem;
}

.requestForm select{
    margin: 1rem 0 0 .3rem;
}

.requestForm fieldset{
    color:var(--text_color);
    border-color: var(--second_highlight);
    margin: 2rem 2rem;
}

/*This makes my stuff able to display on top of each other*/
.requestForm label, .requestForm [type="text"], .requestForm [type="email"], .requestForm [type="tel"], .requestForm textarea{
    display: block;
}

.requestForm [type="text"], .requestForm [type="email"], .requestForm [type="tel"], .requestForm textarea, .requestForm select{
    border: 1px solid var(--second_highlight);
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.requestForm p{
    margin: .3rem 0 .3rem 0;
}

.requestForm textarea{
    background-color: #cbcecf;
}

.requestForm .comments_box{
    height: 6rem;
}

.requestForm .comments_section{
    color:var(--poppy_color);
}

.requestForm [type="submit"]{
    color: var(--text_color);
    background-color: var(--poppy_color);
    border: none;
    padding: 2rem 1.7rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px #435457;
}